.main-corner-content {
    bottom: 0;
    left: 0;

    -ms-transform: translateX(0%) translateY(0%);
    -o-transform: translateX(0%) translateY(0%);
    -moz-transform: translateX(0%) translateY(0%);
    -webkit-transform: translateX(0%) translateY(0%);
    transform: translateX(0%) translateY(0%);
    text-align: left;
    margin: 0  0 0 1vw;
}

#sam-main {
    height: 25vh;
    width: 25vh;
}

.load-text {
    font-size: 150%;
}

.onload-text {
    width: 500%;
    left: 0;
    text-align: left;
    font-size: 300%;
    letter-spacing: 0.5em;

    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
}
