.container {
  @extend .mxa;
  max-width: $containerWidth;
  @extend .px3-nl;
}

@keyframes Skeleton {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -30% 0;
  }
}

.skeleton {
  background: linear-gradient(
    to left,
    rgba(205, 206, 210, 0.6),
    rgba(205, 206, 210, 0.3),
    rgba(205, 206, 210, 0.6)
  );
  background-size: 400% 400%;
  animation: Skeleton linear 3s infinite;
}

.clearall {
  background-color: inherit;
  color: inherit;
  border: initial;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  margin: 0;
}

.markdown {
  line-height: 1.5;

  h1 {
    @extend .fs2;
  }
  h2 {
    @extend .fs1;
  }
  h3 {
    @extend .fs0;
  }
  h4 {
    @extend .fss1;
  }
  h5 {
    @extend .fss2;
  }
  h6 {
    @extend .fss3;
  }

  code {
    @extend .bg-greyd;
    @extend .pa1;
  }

  pre {
    @extend .bg-greyd;
    @extend .pa3;
    @extend .br;

    code {
      @extend .bg-ini;
      @extend .pa0;
    }
  }

  blockquote {
    @extend .mx0;
    @extend .pl5;
    border-left-width: 5px;
    border-left-style: solid;
    @extend .bc-greyd;
    @extend .c-grey8;
  }

  del {
    @extend .c-grey8;
  }

  a {
    @extend .c-red3;
    @extend .tdu;
    @extend .hov-tdn;
  }

  img {
    @extend .db;
    @extend .mxa;
    @extend .br;
    max-width: 100%;
  }

  video {
    @extend .db;
    @extend .mxa;
    @extend .br;
    max-width: 100%;
  }

  table {
    @extend .mxa;
    border-collapse: collapse;
  }

  td,
  th {
    @extend .pa2;
    border-width: 1px;
    border-style: solid;
    @extend .bc-greyd;
  }

  tr:nth-child(even) {
    @extend .bg-greyd;
  }
}

.markdown-log {
  h3 {
    @extend .mt7;
  }
}
