@font-face {
    font-family:'geometry';
    src:url('../fonts/geometry/geometry-webfont.eot');
    src: url('../fonts/geometry/geometry-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/geometry/geometry-webfont.woff2') format('woff2'),
    url('../fonts/geometry/geometry-webfont.woff') format('woff'),
    url('../fonts/geometry/geometry-webfont.ttf') format('truetype'),
    url('../fonts/geometry/geometry-webfont.svg#geometry_soft_probold_n') format('svg');
    font-weight: normal;
    font-style: normal;                                                        
}
@font-face {
    font-family:'proxima-light';
    src:url('../fonts/proxima-light/proxima-light.eot');
    src:url('../fonts/proxima-light/proxima-light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/proxima-light/proxima-light.ttf') format('truetype'),
    url('../fonts/proxima-light/proxima-light.svg#proxima_light') format('svg');
    font-weight:normal;
    font-style:normal;
}
