
/*BASIC*/

*,*:before,*:after{
    -ms-box-sizing:border-box;
    box-sizing:border-box;
}
@font-face{
    font-family:'trendex';
    src:url('../fonts/trendex/trendex_light_ssi_extra_light-webfont.woff2') format('woff2'),
        url('../fonts/trendex/trendex_light_ssi_extra_light-webfont.woff') format('woff');
    font-weight:normal;
    font-style:normal;

}
@font-face {
    font-family:'bebas';
    src:url('../fonts/bebas/bebasneue_bold-webfont.woff2') format('woff2'),
        url('../fonts/bebas/bebasneue_bold-webfont.woff') format('woff');
    font-weight:normal;
    font-style:normal;
}
html, body {
    position: fixed;
    height:100%;
    min-height:100%;
    width:100%;
    margin:0;
    padding:0;
    font-family:'Trebuchet MS',helvetica,sans-serif;
    font-size:1em;
    color:#FFF;
    background-image:url(../assets/profiles/bow.png);
    background-size:cover;
    background-attachment: absolute;
    background-position:center;
    text-align:center;
    overflow: hidden !important;
}
::-webkit-scrollbar{display:none}
a{text-decoration:none;color:#FFF}
a:hover{text-decoration:underline}
h1{font-size:250%;font-family:'trendex';margin:0.83em 0}
hr{margin:0 auto;}
.mobile-device {
    position: absolute;
    display: block;
    z-index:-9999;
}
.center {
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%)translateY(-50%);
    -webkit-transform: translateX(-50%)translateY(-50%);
    -moz-transform: translateX(-50%)translateY(-50%);
    -o-transform: translateX(-50%)translateY(-50%);
    transform: translateX(-50%)translateY(-50%);
}
.filter-profiles{
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background-color:rgba(0,0,0,0.8);
    z-index:0;
}
#Reset{
    position:fixed;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background-color:#4D6BF6;
    z-index:0;
    transition:opacity 1s;
}
#fast-forward{
    position:fixed;
    bottom:1%;
    right:1%;
    font-size:150%;
    font-weight:bold;
    font-family:'trendex';
    cursor:pointer;
    z-index:1000;
}
.logo-backup {display: none}
.name-backup {
    position: absolute;
    display: none;
    bottom: 1%;
    left: 0;
    width:100%;
    font-size: 850%;
    font-family: 'trendex';
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}
.main-nav{
    position:absolute;
    font-size:170%;
    font-family:'trendex';
    font-weight:bold;
    top:7%;
    width:100%;
    text-align:left;
}
.main-nav a{
    position:relative;
    margin:0 4%;
    color:#CCC;
    visibility:hidden;
    opacity:0;
    text-transform:uppercase;
    transition:opacity 0.3s ease-out;
}
.main-nav a:before,.main-nav a:after{
    content:"";
    position:absolute;
    background-color:#FFF;
    height:1px;
    width:0;
    transition:width 0.3s;
}
.main-nav a:before{
    top:-5px;
    right:0;
}
.main-nav a:after{
    bottom:-5px;
    left:0;
}
.main-nav a:hover{
    text-decoration:none;
    color:#FFF;
}
.main-nav a:hover:before,.main-nav a:hover:after{width:100%}
.Cover{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index:-1;
}
.fullscreen-section{
    position:fixed;
    display:none;
    top:0;
    left:0;
    height:100%;
    width:100%;
    font-family:'trendex';
    overflow-x:hidden;
    transition:clip-path 1.5s cubic-bezier(0.86,0,0.07,1),-webkit-clip-path 1.5s cubic-bezier(0.86,0,0.07,1),transform 0.7s cubic-bezier(0.215,0.61,0.355,1),-webkit-transform 0.7s cubic-bezier(0.215,0.61,0.355,1),-moz-transform 0.7s cubic-bezier(0.215,0.61,0.355,1),-o-transform 0.7s cubic-bezier(0.215,0.61,0.355,1);
    -webkit-transition:clip-path 1.5s cubic-bezier(0.86,0,0.07,1),-webkit-clip-path 1.5s cubic-bezier(0.86,0,0.07,1),transform 0.7s cubic-bezier(0.215,0.61,0.355,1),-webkit-transform 0.7s cubic-bezier(0.215,0.61,0.355,1),-moz-transform 0.7s cubic-bezier(0.215,0.61,0.355,1),-o-transform 0.7s cubic-bezier(0.215,0.61,0.355,1);
    -moz-transition:clip-path 1.5s cubic-bezier(0.86,0,0.07,1),-webkit-clip-path 1.5s cubic-bezier(0.86,0,0.07,1),transform 0.7s cubic-bezier(0.215,0.61,0.355,1),-webkit-transform 0.7s cubic-bezier(0.215,0.61,0.355,1),-moz-transform 0.7s cubic-bezier(0.215,0.61,0.355,1),-o-transform 0.7s cubic-bezier(0.215,0.61,0.355,1);
    -o-transition:clip-path 1.5s cubic-bezier(0.86,0,0.07,1),-webkit-clip-path 1.5s cubic-bezier(0.86,0,0.07,1),transform 0.7s cubic-bezier(0.215,0.61,0.355,1),-webkit-transform 0.7s cubic-bezier(0.215,0.61,0.355,1),-moz-transform 0.7s cubic-bezier(0.215,0.61,0.355,1),-o-transform 0.7s cubic-bezier(0.215,0.61,0.355,1);
}

/*ABOUT PAGE*/

#About{
    background-color:#101010;
    color:#FFF;
}
#About div{
    position:relative;
    height:75%;
    width:50%;
    float:left;
    text-align:center;
}
.about-2{
    display:none;
    padding:3%;
    font-family:'trendex';
    font-size:150%;
    line-height:140%;
    text-align:justify !important;
}
#imgviewport{
    position:absolute;
    display:block;
    left:50%;
    -ms-transform:translateX(-50%);
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    -o-transform:translateX(-50%);
    transform:translateX(-50%);
    overflow:hidden;
    filter:grayscale(100%);
    -webkit-filter:grayscale(100%);
}
.imgholder{
    background-repeat:no-repeat;
    background-attachment:absolute;
    background-position:50% 50%;
    background-size:100%;
    perspective:500px;
}
.imgrefraction{
    position:absolute !important;
    top:50%;
    left:50%;
    height:105% !important;
    width:105% !important;
    -ms-transform:translateX(-50%)translateY(-50%);
    -webkit-transform:translateX(-50%)translateY(-50%);
    -moz-transform:translateX(-50%)translateY(-50%);
    -o-transform:translateX(-50%)translateY(-50%);
    transform:translateX(-50%)translateY(-50%);
    opacity:0.5;
}

/*PROJECTS & PORTFOLIO PAGE*/

svg#SlideParent {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
}
#Portfolio{background-color:#4D6BF6}
#Projects{background-color:#A343F5}
#exit-symbol{
    position:fixed;
    top:0;
    right:0;
    cursor:pointer;
    -ms-transform:translateX(100%);
    -webkit-transform:translateX(100%);
    -moz-transform:translateX(100%);
    -o-transform:translateX(100%);
    transform:translateX(100%);
    -ms-transition:transform 0.3s ease-in-out;
    -webkit-transition:transform 0.3s ease-in-out;
    -moz-transition:transform 0.3s ease-in-out;
    -o-transition:transform 0.3s ease-in-out;
    transition:transform 0.3s ease-in-out;
    z-index:5;
}
.exsign{
    fill:#FF4A37;
    -ms-transform-origin:50% 50%;
    -webkit-transform-origin:50% 50%;
    -moz-transform-origin:50% 50%;
    -o-transform-origin:50% 50%;
    transform-origin:50% 50%;
    -ms-transition:transform 0.3s ease;
    -webkit-transition:transform 0.3s ease;
    -moz-transition:transform 0.3s ease;
    -o-transition:transform 0.3s ease;
    transition:transform 0.3s ease;
}
.xsign1-an{
    -ms-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
}
.xsign2-an{
    -ms-transform:rotate(135deg);
    -webkit-transform:rotate(135deg);
    -moz-transform:rotate(135deg);
    -o-transform:rotate(135deg);
    transform:rotate(135deg);
}
.project-parent{
    position:relative;
    width:100%;
    height:71%;
    text-align:center;
    margin:3% auto;
    padding:0;
    overflow-x:hidden;
    overflow-y:scroll;
    background-color:rgba(0,0,0,0.2);
}
.icon-arrowheaddown{
    position:fixed;
    display:block;
    bottom:5%;
    left:50%;
    -ms-transform:translateX(-50%);
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    -o-transform:translateX(-50%);
    transform:translateX(-50%);
    font-size:400%;
    color:rgba(255,255,255,0.8);
    -webkit-animation:Floating 1.2s ease-in-out infinite;
    -moz-animation:Floating 1.2s ease-in-out infinite;
    -o-animation:Floating 1.2s ease-in-out infinite;
    animation:Floating 1.2s ease-in-out infinite;
    z-index:1;
}
.scrollspan{
    position:fixed;
    display:block;
    bottom:4%;
    left:50%;
    -ms-transform:translateX(-50%);
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    -o-transform:translateX(-50%);
    transform:translateX(-50%);
    opacity:0;
    -ms-transition:opacity 0.3s;
    -webkit-transition:opacity 0.3s;
    -moz-transition:opacity 0.3s;
    -o-transition:opacity 0.3s;
    transition:opacity 0.3s;
    z-index:1;
}
.icon-arrowheaddown:hover + .scrollspan{opacity:1 !important}
.project-child{
    position:relative;
    display:inline-block;
    padding:0;
    margin:0.5%;
    /* fallback image */
    background-image:url(../assets/logoFlat.svg);
    background-repeat:no-repeat;
    background-attachment:absolute;
    background-position:50% 50%;
    background-size:125%;
    list-style-type:none;
    visibility:hidden;
    -ms-transition:background-size 0.3s;
    -webkit-transition:background-size 0.3s;
    -moz-transition:background-size 0.3s;
    -o-transition:background-size 0.3s;
    transition:background-size 0.3s;
}
.ProjectLink{
    position:absolute;
    display:block;
    top:0;
    left:0;
    height:100%;
    width:100%;
    opacity:0;
    background-color:rgba(0,0,0,0.7);
    font-size:200%;
    -ms-transition:opacity 0.3s;
    -webkit-transition:opacity 0.3s;
    -moz-transition:opacity 0.3s;
    -o-transition:opacity 0.3s;
    transition:opacity 0.3s;
}
.project-child:hover{background-size:150%}
.project-child:hover .ProjectLink{
    opacity:1;
    text-decoration:none;
}
.FirstLi{visibility: visible !important}
.project-fadeIn{
    -webkit-animation:fadeInProject 0.7s ease-in-out;
    -moz-animation:fadeInProject 0.7s ease-in-out;
    -o-animation:fadeInProject 0.7s ease-in-out;
    animation:fadeInProject 0.7s ease-in-out;
	visibility: visible !important;	
}

/*CONTACT PAGE*/

#Contact{
    background-color:#222;
    color:#fff;
}
#Connection{
    width:50%;
    margin:0 auto;
}
.FormInput{
    display:block;
    width:100%;
    font-family:'trendex';
    padding:15px;
    font-size:150%;
    outline:none;
    border:1px solid #111;
    color:#999;
    background-color:#212121;
    border-radius: 0;
    transition:background-color 0.3s;
}
.FormInput:focus{background-color:#101010}
#ConnectMessage{height:10em}
#ConnectSend{
    width:auto;
    margin:0 auto;
    border:1px solid #ccc;
    color:#ccc;
    background-color:#222;
    cursor:pointer;
    font-weight:bold;
    transition:all 0.3s;
}
#ConnectSend:hover{
    background-color:#ccc;
    color:#222;
}
.icons-link a:hover{text-decoration:none}
.icons-link a i{
    margin:0 0.5%;
    font-size:200%;
    color:#101010;
    transition:color 0.2s;
}
.icon-facebook:hover{color:#3A5795}
.icon-twitter:hover{color:#33C6F4}
.icon-google-plus:hover{color:#DD4B39}
.Copyrights{
    position: fixed;
    display:block;
    bottom:0;
    right:0;
    font-size: 85%;
}

/*ANIMATIONS*/

@keyframes Floating{
    0%{-ms-transform:translateX(-50%)translateY(0%);-webkit-transform:translateX(-50%)translateY(0%);-moz-transform:translateX(-50%)translateY(0%);-o-transform:translateX(-50%)translateY(0%);transform:translateX(-50%)translateY(0%);}
    50%{-ms-transform:translateX(-50%)translateY(10%);-webkit-transform:translateX(-50%)translateY(10%);-moz-transform:translateX(-50%)translateY(10%);-o-transform:translateX(-50%)translateY(10%);transform:translateX(-50%)translateY(10%);}
    100%{-ms-transform:translateX(-50%)translateY(0%);-webkit-transform:translateX(-50%)translateY(0%);-moz-transform:translateX(-50%)translateY(0%);-o-transform:translateX(-50%)translateY(0%);transform:translateX(-50%)translateY(0%);}
}
@-webkit-keyframes Floating{
    0%{-ms-transform:translateX(-50%)translateY(0%);-webkit-transform:translateX(-50%)translateY(0%);-moz-transform:translateX(-50%)translateY(0%);-o-transform:translateX(-50%)translateY(0%);transform:translateX(-50%)translateY(0%);}
    50%{-ms-transform:translateX(-50%)translateY(10%);-webkit-transform:translateX(-50%)translateY(10%);-moz-transform:translateX(-50%)translateY(10%);-o-transform:translateX(-50%)translateY(10%);transform:translateX(-50%)translateY(10%);}
    100%{-ms-transform:translateX(-50%)translateY(0%);-webkit-transform:translateX(-50%)translateY(0%);-moz-transform:translateX(-50%)translateY(0%);-o-transform:translateX(-50%)translateY(0%);transform:translateX(-50%)translateY(0%);}
}
@keyframes fadeInProject{
    0%{-ms-transform:scale(0);opacity:0.0;-webkit-transform:scale(0);opacity:0.0;-moz-transform:scale(0);opacity:0.0;-o-transform:scale(0);opacity:0.0;transform:scale(0);opacity:0.0;}
    100%{-ms-transform:scale(1);opacity:1;-webkit-transform:scale(1);opacity:1;-moz-transform:scale(1);opacity:1;-o-transform:scale(1);opacity:1;transform:scale(1);opacity:1;}
}
@-webkit-keyframes fadeInProject{
    0%{-ms-transform:scale(0);opacity:0.0;-webkit-transform:scale(0);opacity:0.0;-moz-transform:scale(0);opacity:0.0;-o-transform:scale(0);opacity:0.0;transform:scale(0);opacity:0.0;}
    100%{-ms-transform:scale(1);opacity:1;-webkit-transform:scale(1);opacity:1;-moz-transform:scale(1);opacity:1;-o-transform:scale(1);opacity:1;transform:scale(1);opacity:1;}
}
