@import './media';
@import './elements';

*,
*::before,
*::after {
  box-sizing: border-box;
}

// *:focus {
//   outline-style: dotted;
//   outline-width: 2px;
//   outline-color: map-get($colors, 'grey4');
// }

body {
  font-size: 16px;
  @extend .ff-open;
  line-height: 1.2; // no units for multiplier

  @extend .ma0;

  @extend .c-text-main;
  @extend .bg-bg-main;
  @extend .d-bg-text-dark;
  @extend .d-c-bg-dark;
}

h1 {
  @extend .title1;
  @extend .my1;
}
h2 {
  @extend .title2;
  @extend .my2;
}
h3 {
  @extend .title3;
  @extend .my3;
}
h4 {
  @extend .title4;
  @extend .my4;
}
h5 {
  @extend .title5;
  @extend .my5;
}
h6 {
  @extend .title6;
  @extend .my6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @extend .ff-libre;
}
