:root {
    --bg: #fbfbfb;
    --fg: #333;
    --ac: #fb5d89;
    --ac-light: #ffd3d3;
}

html, body {
    height: 100%;
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0 1em;
    color: var(--fg);
    background: var(--bg);
    font-size: 20pt;
    font-family: 'Helvetica', 'Arial';
    text-transform: uppercase;
    font-style: italic;
}

.bg::before {
    content: '';
    position: fixed;
    width: 200%;
    height: 400%;
    top: -150%;
    left: -50%;
    background-image: radial-gradient(var(--ac-light) 45%, rgba(0, 0, 0, 0) 44%);
    background-size: 6px 6px, 6px 6px, cover;
    background-position: 0 0, 100% 100%;
    z-index: -1;
}

.name {
    margin: 0;
    color: var(--ac);
    font-family: 'Bangers';
    font-weight: 400;
    letter-spacing: 0.1em;
    font-size: 7em;
    text-shadow: -2px -2px 0 var(--fg),
                 2px -2px 0 var(--fg),
                 -0.08em 0.08em 0 var(--fg),
                 2px 2px 0 var(--fg);
}

#tag {
    font-size: 0.8em;
    font-weight: 400;
    margin: 0;
}

.links {
    margin: 0;
    list-style-type: none;
    padding: 0;
    font-family: 'Bangers';
}

.links a {
    text-decoration: none;
    font-size: 5em;
    color: var(--fg);
    transition: all 0.1s;
}

.links a:hover {
    color: var(--ac);
    text-shadow: -2px -2px 0 var(--fg),
                 2px -2px 0 var(--fg),
                 -0.08em 0.08em 0 var(--fg),
                 2px 2px 0 var(--fg);
}

@media screen and (max-width: 900px) {
    .name {
        font-size: 4em;
    }

    .links a {
        font-size: 4em;
    }
}
