
/*
 *      Copyright Sam Bossley 2016. All rights reserved.
 */


html,body{height:100%;min-height:100%;margin:0;padding:0;overflow-x:hidden;background-color:#fff;color:#000}html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none;}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:700}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}

@font-face {
    font-family: 'bebas';
    src: url('../fonts/bebas/bebasneue_book-webfont.woff2') format('woff2'),
         url('../fonts/bebas/bebasneue_book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/icomoon.eot?za6net');
  src:  url('../fonts/icomoon/icomoon.eot?za6net#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf?za6net') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?za6net') format('woff'),
    url('../fonts/icomoon/icomoon.svg?za6net#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]::before, [class*=" icon-"]::after {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
    font-size: 1em;
    font-family: 'bebas', 'trebuchet ms';
    background-color: #222;
    color: #fff;
    letter-spacing: 0.1em;
    overflow: hidden;
    -webkit-perspective: 600px;
    -ms-perspective: 600px;
    -moz-perspective: 600px;
    -o-perspective: 600px;
    perspective: 600px;
}

.no-js html, .no-js body { overflow-y: scroll }

.no-js #loader { display: none }

#loader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    background-color: #50958a; 
    background-color: hsla(170, 30%, 45%, 1);

    -webkit-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    z-index: 100;
}

#load-image {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    height: 50%;

    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

    z-index: 0;
}

#progress {
    position: absolute;
    display: block;
    bottom: 30%;
    left: 50%;

    color: #fff;
    font-size: 1.5em;

    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);

    z-index: 1;
}

.icon-facebook:before { content: "\e92c" }
.icon-twitter:before { content: "\e95c" }
.icon-instagram:before { content: "\e93b" }
.icon-mail:before { content: "\e941" }
.icon-phone:before { content: "\e949" }

#modulus {
    position: absolute;
    visibility: hidden;
    top: 15px;
    left: 15px;
    z-index: 3;
}

#modulus-loader {
    fill: rgba(255, 255, 255, 0.5);
    fill: hsla(0, 100%, 100%, 0.5);
}

div.main {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

h1 {
    font-size: 5em;
    font-weight: bold;
    letter-spacing: 0.1em;
}

header {
    font-size: 5em;
    font-weight: bold;
    letter-spacing: 0.1em;
}

a {
    color: inherit;
    text-decoration: none;
}

.opening {
    opacity: 1;

    -webkit-transition: opacity 0.3s ease 0.1s;
    -ms-transition: opacity 0.3s ease 0.1s;
    -moz-transition: opacity 0.3s ease 0.1s;
    -o-transition: opacity 0.3s ease 0.1s;
    transition: opacity 0.3s ease 0.1s;
}

#portal { overflow: hidden }

.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    background-position: 50% 50%;
    background-size: 100%;
    background-size: cover;
    background-repeat: no-repeat;

    -webkit-transform: translateZ(-600px) scale(2);
    -ms-transform: translateZ(-600px) scale(2);
    -moz-transform: translateZ(-600px) scale(2);
    -o-transform: translateZ(-600px) scale(2);
    transform: translateZ(-600px) scale(2);
    z-index: 1;
}

.opening .backdrop {
    background-image: url(../assets/backdrops/Back_mobile.png);
    background-size: 100%;

    -webkit-transition: background-size 0.4s ease;
    -ms-transition: background-size 0.4s ease;
    -moz-transition: background-size 0.4s ease;
    -o-transition: background-size 0.4s ease;
    transition: background-size 0.4s ease;
}

.no-js .main .backdrop { background-size: 100% }

.main .content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

.logo-container {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(80, 149, 138, 0.5);
    background-color: hsla(170, 30%, 45%, 0.5);
}

#logo {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    height: 50%;

    opacity: 0.9;

    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

    z-index: 0;
}

.tagline {
    position: absolute;
    display: block;
    bottom: 1em;
    width: 100%;
    
    opacity: 0;

    color: #aaa;
    font-size: 1.5em;
    text-align: center;

    -webkit-animation: Notify 0.9s linear 5s infinite alternate;
    -ms-animation: Notify 0.9s linear 5s infinite alternate;
    -moz-animation: Notify 0.9s linear 5s infinite alternate;
    -o-animation: Notify 0.9s linear 5s infinite alternate;
    animation: Notify 0.9s linear 5s infinite alternate;
}

.overlay {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 3;
}

.transition-section {
    display: none;
    height: 5px;
    background-color: #fff;
}

.no-js .transition-section {
    display: block;
}

/*
 *      ABOUT
 */

#about {
    background-color: #222;
    color: #fff;
    overflow: hidden;
}

#about .backdrop {
    z-index: 0;
    background-image: url(../assets/backdrops/About_mobile.png);
}

.content-left {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-left: 15px;
    padding-bottom: 15px;
}

.content-left h1 { display: block }

/*
 *      PORTFOLIO
 */

#portfolio {
    height: auto;

    background-color: #fff;
    color: #444;

    padding: 10% 0;
    text-align: center;
}

.project {
    position: relative;
    display: inline-block;
    width: 80%;
}

.sizing { margin-top: 80% }

.child {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    text-align: center;
}

.child span {
    position: absolute;
    top: 55%;
    left: 50%;

    color: #fff;
    font-size: 2.5em;
    font-weight: bold;
    opacity: 0;

    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

    z-index: 1;
    -webkit-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.project-img { 
    position: absolute;
    display: block;
    top: 50%;
    left: 5%;
    width: 90%;

    -webkit-box-shadow: 3px 3px 5px #999;
    -ms-box-shadow: 3px 3px 5px #999;
    -moz-box-shadow: 3px 3px 5px #999;
    -o-box-shadow: 3px 3px 5px #999;
    box-shadow: 3px 3px 5px #999;

    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

/*
 *      CONTACT
 */

#contact { overflow: hidden }

#contact .backdrop { background-image: url(../assets/backdrops/Contact_mobile.png) }

.filter {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    background-color: rgba(51, 51, 51, 0.5);
    background-color: hsla(0, 0%, 20%, 0.5);

    transition: background-color 0.3s;

    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 2;
}

.content-contact-left {
    display: block;

    padding-top: 15px;
    text-align: center;
}

.content-contact-left header { font-size: 4em }

.content-contact-left article {
    position: relative;
    
    color: #ccc;
    font-family: 'sans-serif';
    font-size: 0.8em;
    line-height: 1em;
    padding-top: 40px;
}

.content-contact-left article h1 { color: #ddd; font-size: 1em }

.content-contact-left article span { font-size: 0.7em }

.content-contact-left article span a { text-decoration: underline }

.content-contact-right { padding-top: 40px }

.content-contact-right i {
    font-size: 1.7em;
    margin: 0 10px;
    color: #ddd;

    -webkit-transition: color 0.2s;
    -ms-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
}

.icon-facebook:hover { color: #3b5998 }
.icon-twitter:hover { color: #00aced }
.icon-instagram:hover { color: #517fa4 }

.resume {
    position: absolute;
    bottom: 30px;
    left: 50%;

    padding: 15px 40px;
    font-size: 1.5em;
    color: #fff;
    background-color: transparent;
    border: 3px solid #fff;

    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);

    -webkit-transition: background-color 0.2s;
    -ms-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s;
}

.resume:hover {
    background-color: rgba(255, 255, 255, 0.3);
    background-color: hsla(0, 0%, 100%, 0.3);
}

/*
 *      ANIMATIONS
 */

@keyframes Notify {
    0% { opacity: 0 }
    100% { opacity: 1 }
}

@-webkit-keyframes Notify {
    0% { opacity: 0 }
    100% { opacity: 1 }
}


/*
 *      @MEDIA QUERIES
 */


@media all and (orientation: landscape) {

    header { font-size: 6em }

    .opening .backdrop { 
        background-image: url(../assets/backdrops/Back.png);
        background-size: 55%;
    }

/*
 *      ABOUT
 */

    #about { color: #000 }

    #about .backdrop {
        background-image: url(../assets/backdrops/About-1.png);
        -webkit-transform: translateZ(-600px) scale(3);
        -ms-transform: translateZ(-600px) scale(3);
        -moz-transform: translateZ(-600px) scale(3);
        -o-transform: translateZ(-600px) scale(3);
        transform: translateZ(-600px) scale(3);
    }

    #about .backdrop2 {
        background-image: url(../assets/backdrops/About-2.png);
        -webkit-transform: translateZ(-300px) scale(2);
        -ms-transform: translateZ(-300px) scale(2);
        -moz-transform: translateZ(-300px) scale(2);
        -o-transform: translateZ(-300px) scale(2);
        transform: translateZ(-300px) scale(2);
    }

    .content-left {
        font-size: 1.5em;
        padding-left: 40px;
        padding-bottom: 40px;
    }

    .content-contact-left {
        position: absolute;
        top: 0;
        left: 0;

        font-size: 1.7em;

        padding-top: 30px;
        padding-left: 30px;
        text-align: left;
    }

/*
 *      PORTFOLIO
 */

    .project {
        width: 30%;
    }

    .sizing { margin-top: 100% }

    .child::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        background-color: rgba(0, 0, 0, 0.7);
        background-color: hsla(0, 0%, 0%, 0.7);
        opacity: 0;

        -webkit-transition: opacity 0.2s;
        -ms-transition: opacity 0.2s;
        -moz-transition: opacity 0.2s;
        -o-transition: opacity 0.2s;
        transition: opacity 0.2s;
    }

    .child:hover::after {
        opacity: 1;
    }

    .child:hover span {
        top: 50%;

        opacity: 1;
    }

/*
 *      CONTACT
 */

    #contact .backdrop { background-image: url(../assets/backdrops/Contact.png) }
}

@media screen and (orientation: portrait) and (device-width: 768px) {

    .opening .backdrop {
        background-size:;
    }
    .backdrop { 
        background-size: 55%;
    }
}
