
/* Created by Sam Bossley. All Rights Reserved. Copyright 2017. */

/*PRESETS*/

*, *::before, *::after {
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  min-height: 100%;

  font-family: 'Short Stack', cursive;
  font-size: 30px;
  background-color: #d3232b;
  color: #fff;

  margin: 0;
  padding: 0;
  overflow: hidden;
}

div.body-content {
  position: relative;
  display: block;
  height: 100vh;
  height: 100%; /* FALLBACK */
  width: 100%;
  text-align: center;
}

/*OVERCOME*/

.julie {
  position: absolute;
  top: 50%;
  left: 0;

  opacity: 0.1;

  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);

  -ms-user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.julie img {
  -o-transform: rotateZ(0deg);
  -ms-transform: rotateZ(0deg);
  -moz-transform: rotateZ(0deg);
  -webkit-transform: rotateZ(0deg);
  transform: rotateZ(0deg);

  -o-animation: julieSpin 6s linear 0s infinite;
  -ms-animation: julieSpin 6s linear 0s infinite;
  -moz-animation: julieSpin 6s linear 0s infinite;
  -webkit-animation: julieSpin 6s linear 0s infinite;
  animation: julieSpin 6s linear 0s infinite;
}

@-webkit-keyframes julieSpin {
  0% { transform: rotateZ(0deg) }
  100% { transform: rotateZ(360deg) }
}

@keyframes julieSpin {
  0% { transform: rotateZ(0deg) }
  100% { transform: rotateZ(360deg) }
}

.text-main {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;

  -o-transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
  transform: translateX(-50%) translateY(-50%) rotateZ(0deg);

  font-family: 'Short Stack', cursive;
  color: #fff;
  font-weight: bold;
  text-align: center;

  -o-animation: Rainbow 2s linear infinite;
  -ms-animation: Rainbow 2s linear infinite;
  -moz-animation: Rainbow 2s linear infinite;
  -webkit-animation: Rainbow 2s linear infinite;
  animation: Rainbow 2s linear infinite;

  -o-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  z-index: 2;
}

.text-main em {
  position: absolute;
  font-style: normal;
  

  -o-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  -webkit-transform: translateY(-50px);
  transform: translateY(-50px);
}

.text-main em:nth-child(1) {
  left: 5%;
  animation: Wavy 2s ease-in-out 0s infinite;
}

.text-main em:nth-child(2) {
  left: 11%;
  animation: Wavy 2s ease-in-out 0.1s infinite;
}

.text-main em:nth-child(3) {
  left: 17%;
  animation: Wavy 2s ease-in-out 0.2s infinite;
}

.text-main em:nth-child(4) {
  left: 23%;
  animation: Wavy 2s ease-in-out 0.3s infinite;
}

.text-main em:nth-child(5) {
  left: 29%;
  animation: Wavy 2s ease-in-out 0.4s infinite;
}

.text-main em:nth-child(7) {
  left: 41%;
  animation: Wavy 2s ease-in-out 0.5s infinite;
}

.text-main em:nth-child(8) {
  left: 47%;
  animation: Wavy 2s ease-in-out 0.6s infinite;
}

.text-main em:nth-child(9) {
  left: 53%;
  animation: Wavy 2s ease-in-out 0.7s infinite;
}

.text-main em:nth-child(10) {
  left: 59%;
  animation: Wavy 2s ease-in-out 0.8s infinite;
}

.text-main em:nth-child(11) {
  left: 65%;
  animation: Wavy 2s ease-in-out 0.9s infinite;
}

.text-main em:nth-child(12) {
  left: 71%;
  animation: Wavy 2s ease-in-out 1s infinite;
}

.text-main em:nth-child(13) {
  left: 77%;
  animation: Wavy 2s ease-in-out 1.1s infinite;
}

.text-main em:nth-child(14) {
  left: 83%;
  animation: Wavy 2s ease-in-out 1.2s infinite;
}

.text-main em:nth-child(15) {
  left: 89%;
  animation: Wavy 2s ease-in-out 1.3s infinite;
}

#maasu-fidget-svg {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  height: 90vw;
  width: 90vw;


  -o-transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
  -webkit-transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
  transform: translateX(-50%) translateY(-50%) rotateZ(0deg);

  -o-transform-origin: 50.179% 38.803%;
  -ms-transform-origin: 50.179% 38.803%;
  -moz-transform-origin: 50.179% 38.803%;
  -webkit-transform-origin: 50.179% 38.803%;
  transform-origin: 50.179% 38.803%;

  -o-animation: Yolo 2.2s linear infinite;
  -ms-animation: Yolo 2.2s linear infinite;
  -moz-animation: Yolo 2.2s linear infinite;
  -webkit-animation: Yolo 2.2s linear infinite;
  animation: Yolo 2.2s linear infinite;
}

@-webkit-keyframes Yolo {
  0% {transform: translateX(-50%) translateY(-50%) rotateZ(0deg)}
  100% {transform: translateX(-50%) translateY(-50%) rotateZ(360deg)}
}

@keyframes Yolo {
  0% {transform: translateX(-50%) translateY(-50%) rotateZ(0deg)}
  100% {transform: translateX(-50%) translateY(-50%) rotateZ(360deg)}
}

#fidget1-base, #fidget-2-base, #fidget-3-base, #fidget-4-base, #fidget-5-base, #fidget-6-base {
  fill: #fff;
}

#fidget-mid { fill: #d3232b }

@-webkit-keyframes Rainbow {
  0% { color: red }
  17% { color: orange }
  34% { color: yellow }
  51% { color: green }
  68% { color: blue }
  83% { color: violet }
  100% { color: red }
}

@keyframes Rainbow {
  0% { color: red }
  17% { color: orange }
  34% { color: yellow }
  51% { color: green }
  68% { color: blue }
  83% { color: violet }
  100% { color: red }
}

@-webkit-keyframes Wavy {
  0% { transform: translateY(-50px) }
  50% { transform: translateY(50px) }
  100% { transform: translateY(-50px) }
}

@keyframes Wavy {
  0% { transform: translateY(-50px) }
  50% { transform: translateY(50px) }
  100% { transform: translateY(-50px) }
}

.hidden {
  position: fixed;
  top: 100%;
  left: 100%;
  visibility: hidden;
}

@media screen and (orientation: landscape) {

  html, body { font-size: 50px }

  .text-main { top: 51% }

  #maasu-fidget-svg {
    top: 60%;
    height: 80vh;
    width: 80vh;
  }

  .text-main em {
    transform: translateY(-100px);
  }

.text-main em:nth-child(1) {
  left: 29%;
  animation: Wavy 2s ease-in-out 0s infinite;
}

.text-main em:nth-child(2) {
  left: 32%;
  animation: Wavy 2s ease-in-out 0.1s infinite;
}

.text-main em:nth-child(3) {
  left: 35%;
  animation: Wavy 2s ease-in-out 0.2s infinite;
}

.text-main em:nth-child(4) {
  left: 38%;
  animation: Wavy 2s ease-in-out 0.3s infinite;
}

.text-main em:nth-child(5) {
  left: 40%;
  animation: Wavy 2s ease-in-out 0.4s infinite;
}

.text-main em:nth-child(7) {
  left: 46%;
  animation: Wavy 2s ease-in-out 0.5s infinite;
}

.text-main em:nth-child(8) {
  left: 49%;
  animation: Wavy 2s ease-in-out 0.6s infinite;
}

.text-main em:nth-child(9) {
  left: 52%;
  animation: Wavy 2s ease-in-out 0.7s infinite;
}

.text-main em:nth-child(10) {
  left: 55%;
  animation: Wavy 2s ease-in-out 0.8s infinite;
}

.text-main em:nth-child(11) {
  left: 58%;
  animation: Wavy 2s ease-in-out 0.9s infinite;
}

.text-main em:nth-child(12) {
  left: 61%;
  animation: Wavy 2s ease-in-out 1s infinite;
}

.text-main em:nth-child(13) {
  left: 64%;
  animation: Wavy 2s ease-in-out 1.1s infinite;
}

.text-main em:nth-child(14) {
  left: 67%;
  animation: Wavy 2s ease-in-out 1.2s infinite;
}

.text-main em:nth-child(15) {
  left: 70%;
  animation: Wavy 2s ease-in-out 1.3s infinite;
}

@-webkit-keyframes Wavy {
  0% { transform: translateY(-100px) }
  50% { transform: translateY(100px) }
  100% { transform: translateY(-100px) }
}

@keyframes Wavy {
  0% { transform: translateY(-100px) }
  50% { transform: translateY(100px) }
  100% { transform: translateY(-100px) }
}

}
