---
layout: layouts/main
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - thoughts
permalink: /tags/{{ tag | slugClean }}/
---

<section>
  <h1>Tagged "<span class="tagtitle">{{ tag }}</span>"</h1>
  {% import "fragments/thoughtslist.njk" as thoughtsList %}
  {{ thoughtsList.create(collections.thoughts | filterByTag(tag)) }}
</section>
