
/*
** intended for global variables or mixins.
*/

// palette

$black: #000;
$blue: #1998cb;
$brown: #a23700;
$gray-dark: #111;
$gray: #555;
$green: #0CBD42;
$pink: #f2a28d;
$peach: #f8ded7;
$purple: #451DAF;
$red: #ec3c37;
$yellow: #ffda10;
$white: #fff;

// globals

$background-color: $white;
$color: $gray-dark;

$gutter: 0.4em;
$gutter-desktop: 2em;

$bar-height: 30px;
$bar-height-desktop: 70px;

$min-width-tablet: 767px;
$min-width-desktop: 979px;
$min-width-large-desktop: 1200px;
