
@import 'util';

/*
** tablet
*/

@media (min-width: $min-width-tablet) {

}

/*
** desktop
*/

@media (min-width: $min-width-desktop) {

header {
  height: $bar-height-desktop;
  padding: 0 $gutter-desktop;

  h1 {
    font-size: $bar-height-desktop * 0.8;
    line-height: $bar-height-desktop;
  }

}

.project {
  padding: $bar-height-desktop $gutter-desktop;

  h2 {
    top: $bar-height-desktop;

    & > p { font-size: 3em }

    div {
      font-size: 0.4em;
      width: 50%;
    }

  }

}

.background-vector {
  height: auto;
  width: 100%;
}

#accessu {

  .cell {
    padding: 0.7em;

    div img {
      height: auto;
      width: 100%;
      max-height: none;
    }

  }

}

}

/*
** large desktop
*/

@media (min-width: $min-width-large-desktop) {

}
