
@import 'base';

/*
** navigation bar
*/

header {
  position: fixed;
  top: 0; left: 0;
  height: $bar-height;
  width: 100%;
  padding: 0 $gutter;


  z-index: 10;

  h1 {
    margin: 0;
    font-size: $bar-height * 0.8;
    line-height: $bar-height;
    letter-spacing: 0.05em;
    text-align: center;
  }

}

.project {
  padding: $bar-height $gutter;

  * { z-index: 1 }

  /*
  ** project title
  */

  h2 {
    position: absolute;
    top: $bar-height;
    width: 95%;

    z-index: 2;

    & > p {
      margin: 0;

      @include outline($white, $gray-dark);
      word-wrap: break-word;
      letter-spacing: 0.1em;
      font-size: 2.4em;
      line-height: 1em;
    }

    div {
      font-size: 0.6em;
      width: 100%;
    }

  }

}

.background-vector {
  position: absolute;
  top: 50%; left: 50%;
  height: 100%;
  width: auto;

  z-index: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/*
** accessu
*/

#accessu {
  background-color: $yellow;

  h2 > p { @include outline($red, $gray-dark) }

  .grid-x { height: 100% }
  .cell {
    height: auto;
    padding: 0.4em;
  }
  .cell div {
    position: relative;
    height: 100%;
    width: 100%;

    // hand-drawn border effect
    border-radius:
      255px 15px
      225px 15px/
      15px 225px
      15px 255px;
    border: 4px solid $gray-dark;

    overflow: hidden;

    img {
      position: absolute;
      top: 50%;
      left: 50%;

      height: 100%;
      width: auto;
      max-width: none;

      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
    }

  }

}

/*
** garage-status
*/

#garage-status {
  background-color: $gray;
}

/*
** leaderboards
*/

#leaderboards {
  background-color: $purple;

  h2 { text-align: right }
  h2 > p { @include outline($green, $gray-dark) }

}

/*
** archery
*/

#archery {
  background-color: $blue;

  h2 > p { @include outline($brown, $gray-dark) }

}

/*
** hire
*/

#hire {
  background-color: $yellow;
}
