:root {
  --l-fg: #20242d;
  --l-fg-alt: #4e5564;
  --l-bg: #fbfbf8;
  --l-bg-alt: #ebebe8;
  --l-primary: #27598a;

  --d-fg: #eceff4;
  --d-fg-alt: #b1b6bd;
  --d-bg: #252a33;
  --d-bg-alt: #2f3540;
  --d-primary: #5fd7ff;

  --syn-text: var(--l-fg);
  --syn-keyword: #27598a;
  --syn-string: #6f4467;
  --syn-comment: #4e5564;
  --syn-function: #077295;
  --syn-attribute: var(--syn-function);
  --syn-string-expression: var(--syn-string);
  --syn-constant: var(--syn-function);
  --syn-insertion: var(--l-fg);
  --syn-insertion-bg: #a3be8cc0;
  --syn-deletion: var(--l-fg);
  --syn-deletion-bg: #bf616a80;

  --d-syn-text: var(--d-fg);
  --d-syn-keyword: #81a1c1;
  --d-syn-string: #a3be8c;
  --d-syn-comment: #88c0d0;
  --d-syn-function: #88c0d0;
  --d-syn-attribute: var(--d-syn-function);
  --d-syn-string-expression: var(--d-syn-string);
  --d-syn-constant: var(--d-syn-function);
  --d-syn-insertion: #a3be8c;
  --d-syn-insertion-bg: transparent;
  --d-syn-deletion: #bf616a;
  --d-syn-deletion-bg: transparent;
}

/* global defaults */

/* fonts taken from https://fonts.google.com via css urls (v13) */
@font-face {
  font-family: Inter;
  src: url(/fonts/Inter/Regular.woff2) format('woff2');
  font-display: swap;
}
@font-face {
  font-family: Inter;
  src: url(/fonts/Inter/Bold.woff2) format('woff2');
  font-weight: bold;
  font-display: swap;
}

html,
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: Inter, sans-serif;
  font-size: 16px;
}

html,
body,
a {
  color: var(--l-fg);
  background-color: var(--l-bg);
  @media (prefers-color-scheme: dark) {
    color: var(--d-fg);
    background-color: var(--d-bg);
  }
}

body {
  max-width: 56.25rem;
  margin: 0 auto;
  padding: 0 1rem;
  word-wrap: break-word;
}

header,
section,
article,
footer {
  margin: 3rem auto;
}

h1 {
  font-size: 2.369rem;
}
h2 {
  font-size: 1.777rem;
}
h3 {
  font-size: 1.333rem;
}
h4,
h5,
h6 {
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0;
}

small {
  display: block;
  font-size: 0.75rem;
  margin: 0.75rem 0;
}

footer {
  font-size: 0.75rem;
}

dfn {
  font-style: normal;
  font-weight: bold;
  color: var(--l-primary);
  @media (prefers-color-scheme: dark) {
    color: var(--d-primary);
  }
}

code {
  font-family: "Courier New", monospace;
  background-color: var(--l-bg-alt);
  color: var(--l-fg);
  @media (prefers-color-scheme: dark) {
    color: var(--d-fg);
    background-color: var(--d-bg-alt);
  }
}

table {
  border-collapse: collapse;

  th, td {
    padding: 0.4rem;
    border-width: 1px;
    border-style: solid;
    border-color: var(--l-fg-alt);
    @media (prefers-color-scheme: dark) {
      border-color: var(--d-fg-alt);
    }
  }
}

a {
  text-decoration: underline;
  &:hover, &:focus {
    text-decoration: none;
  }
}

@mixin primary-link {
  color: var(--l-primary);
  @media (prefers-color-scheme: dark) {
    color: var(--d-primary);
  }
}

@mixin hover-underline {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

/* globally hide all page anchors */
/* unless explicitly allowed */
a.anchor {
  margin-left: 0.5rem;
  display: none;
}
@mixin heading-anchors {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &:hover a.anchor {
      display: inline;
    }
  }
}

*:not(iframe):not(video):not(audio):focus {
  outline-style: dotted;
  outline-width: 2px;
}

@page {
  size: auto;
  margin: 0.5in;
}
@media print {
  .dnp {
    display: none !important;
  }
}

/* header */

header {
  nav {
    display: flex;
    flex-wrap: wrap;
  }
  nav a {
    padding: 0.2rem;
    margin-bottom: 0.1rem;
    @include hover-underline;

    &:not(:last-child) {
      margin-right: 0.2rem;
    }
    &.title {
      text-decoration: none;
      font-weight: bold;
    }
    &.active {
      text-decoration: underline;
    }
  }
}

/* footer */

footer {
  svg {
    fill: var(--l-fg-alt);
    @media (prefers-color-scheme: dark) {
      fill: var(--d-fg-alt);
    }
  }
  ul {
    padding: 0;
  }
  li {
    display: inline;
  }
  li:not(:last-child) {
    border-right: 1px solid var(--l-fg);
    margin-right: 5px;
    padding-right: 5px;
    @media (prefers-color-scheme: dark) {
      border-right: 1px solid var(--d-fg);
    }
  }
  .copyrights a {
    @include hover-underline;
  }
}

/* universal components */

.articlelist {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    margin: 1rem 0;
  }
  li a {
    display: inline-flex;
    flex-direction: column;
    @include hover-underline;
  }
  li a span:first-child {
    /* same as h3 */
    font-size: 1.333rem;
  }
}

.yearpagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 0.5rem;
  list-style-type: none;
  margin: 3rem 0;
  padding: 0;

  li {
    margin: 0 0.5rem;
    display: inline-block;
    text-align: center;
  }
  li a {
    @include hover-underline;
  }
  li.active a {
    text-decoration: underline;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 3rem 0;
  padding: 0;

  li.active {
    display: none;
  }
  li {
    margin: 0 0.5rem;
    display: inline-block;
    text-align: center;
  }
  a {
    padding: 0.2rem;
    height: 100%;
    display: flex;
    align-items: center;
  }
  svg {
    fill: var(--l-fg-alt);
    @media (prefers-color-scheme: dark) {
      fill: var(--d-fg-alt);
    }
  }
}

.taglist {
  list-style-type: none !important;
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
  flex-wrap: wrap;

  li {
    margin-bottom: 0.2rem;
  }
  li:not(:last-child) {
    margin-right: 0.5rem;
  }
}

.err {
  color: #bf616a;
}

/* pages */

.about {
  .stacked {
    display: flex;
    gap: 1rem;
    @media (max-aspect-ratio: 1/1) {
      flex-direction: column;
    }
  }

  .me {
    height: 300px;
    width: 300px;
    border-radius: 0.25rem;
    @media (max-aspect-ratio: 1/1) {
      align-self: center;
    }
  }

  .details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  /* remove margins from top and bottom elements */
  .details > div:first-child > p:first-child {
    margin-top: 0;
  }
  .details > div:last-child > p:last-child {
    margin-bottom: 0;
  }
}

.whatisafeed {
  .rsslogo {
    fill: #f38f32;
  }
  ul {
    padding-left: 1rem;
  }
  ul li {
    margin: 0.5rem 0;
  }
  a {
    @include primary-link;
  }
}

.keyboard {
  code a {
    background-color: transparent;
    color: inherit;
  }
  iframe {
    border: 0;
    width: 100%;
    min-height: 650px;
  }
}

.music {
  a {
    @include primary-link;
  }
  ol {
    list-style-type: disc;
    padding-left: 1rem;
  }
}

.referrals {
  ul {
    padding-left: 1rem;
  }
  ul li {
    margin: 1rem 0;
  }
  a {
    @include primary-link;
  }
}

.tagindex {
  ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;

    li {
      margin-right: 0.5rem;
      margin-bottom: 0.3rem;
    }
    a {
      @include primary-link;
    }
  }
}

.tagsingle {
  .tagname {
    @include primary-link;
  }
}

.thoughtsingle {
  a {
    @include primary-link;
  }
  blockquote {
    margin: 1rem 0;
    padding: 0 1.5rem;
    font-style: italic;
    border-left-width: 0.25rem;
    border-left-style: solid;
    border-left-color: var(--l-bg-alt);
    color: var(--l-fg-alt);
    @media (prefers-color-scheme: dark) {
      border-left-color: var(--d-bg-alt);
      color: var(--d-fg-alt);
    }
  }
  @include heading-anchors;
  pre {
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 0.25rem;
    font-size: 0.9rem;
    background-color: var(--l-bg-alt);
    overflow-x: auto;
    @media (prefers-color-scheme: dark) {
      background-color: var(--d-bg-alt);
    }
  }
  ul,
  ol {
    margin: 1rem 0;
    padding-left: 1rem;
  }
  ul {
    list-style-type: disc;
  }
  ol {
    list-style-type: decimal;
  }
  img,
  video,
  audio {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 0.25rem;
  }
  audio {
    width: 100%;
  }
  img {
    max-height: 600px;
  }
  img::after {
    content: " (image)";
  }
  img::before,
  img::after {
    font-style: italic;
    color: var(--l-fg-alt);
    @media (prefers-color-scheme: dark) {
      color: var(--d-fg-alt);
    }
  }
}

.streamsingle {
  video {
    border-radius: 0.25rem;
  }
  a {
    @include primary-link;
  }
  .meta {
    display: flex;
  }
  time {
    padding-right: 0.5rem;
  }
  .desc ol {
    list-style-type: decimal-leading-zero;
  }
}

.tabsingle {
  a {
    @include primary-link;
  }
  pre {
    font-size: 0.85rem;
  }
}

.poemsingle {
  pre {
    font-size: 0.85rem;
  }
}

.recipesingle {
  a {
    @include primary-link;
  }
  ul,
  ol {
    margin: 1rem 0;
    padding-left: 1rem;
  }
  @include heading-anchors;
  img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 0.25rem;
  }
  img {
    max-height: 600px;
  }
}

.recsection {
  p a {
    @include primary-link;
  }
}

.recsingle {
  & > *:not(.yearpagination) a {
    @include primary-link;
  }
  ol {
    padding: 0;
    list-style-type: none;
    li {
      margin: 1rem 0;
    }
    span {
      display: block;
    }
  }
}

.rguide {
  table {
    width: 100%;
  }
}
.stier, .stier a {
  background: rgb(255, 127, 127);
  color: var(--l-fg) !important;
}
.atier, .atier a {
  background: rgb(255, 191, 127);
  color: var(--l-fg) !important;
}
.btier {
  background: rgb(255, 223, 127);
  color: var(--l-fg);
}
.ctier {
  background: rgb(255, 255, 127);
  color: var(--l-fg);
}
.dtier {
  background: rgb(191, 255, 127);
  color: var(--l-fg);
}

.memesingle {
  a {
    @include primary-link;
  }
  ol {
    margin: 0;
    padding: 0;
    li {
      margin: 0.5rem 0;
    }
  }
}

/* code syntax highlighting following format of */
/* @import "https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.6.0/build/styles/github.min.css"; */

.hljs {
  color: var(--syn-text);
  @media (prefers-color-scheme: dark) {
    color: var(--d-syn-text);
  }
}
.hljs-doctag,.hljs-keyword,.hljs-meta .hljs-keyword,.hljs-template-tag,.hljs-template-variable,.hljs-type,.hljs-variable.language_ {
  color: var(--syn-keyword);
  @media (prefers-color-scheme: dark) {
    color: var(--d-syn-keyword);
  }
}
.hljs-title,.hljs-title.class_,.hljs-title.class_.inherited__,.hljs-title.function_ {
  color: var(--syn-function);
  @media (prefers-color-scheme: dark) {
    color: var(--d-syn-function);
  }
}
.hljs-attr,.hljs-attribute,.hljs-literal,.hljs-meta,.hljs-number,.hljs-operator,.hljs-selector-attr,.hljs-selector-class,.hljs-selector-id,.hljs-variable {
  color: var(--syn-attribute);
  @media (prefers-color-scheme: dark) {
    color: var(--d-syn-attribute);
  }
}
.hljs-meta .hljs-string,.hljs-regexp,.hljs-string {
  color: var(--syn-string);
  @media (prefers-color-scheme: dark) {
    color: var(--d-syn-string);
  }
}
.hljs-built_in,.hljs-symbol {
  color: var(--syn-keyword);
  @media (prefers-color-scheme: dark) {
    color: var(--d-syn-keyword);
  }
}
.hljs-code,.hljs-comment,.hljs-formula {
  color: var(--syn-comment);
  @media (prefers-color-scheme: dark) {
    color: var(--d-syn-comment);
  }
}
.hljs-name,.hljs-quote,.hljs-selector-pseudo,.hljs-selector-tag {
  color: var(--syn-string-expression);
  @media (prefers-color-scheme: dark) {
    color: var(--d-syn-string-expression);
  }
}
.hljs-subst {
  color: var(--syn-constant);
  @media (prefers-color-scheme: dark) {
    color: var(--d-syn-constant);
  }
}
/* .hljs-section { } */
/* .hljs-bullet { } */
/* .hljs-emphasis { } */
/* .hljs-strong { } */
.hljs-addition{
  color: var(--syn-insertion);
  background-color: var(--syn-insertion-bg);
  @media (prefers-color-scheme: dark) {
    color: var(--d-syn-insertion);
    background-color: var(--d-syn-insertion-bg);
  }
}
.hljs-deletion{
  color: var(--syn-deletion);
  background-color: var(--syn-deletion-bg);
  @media (prefers-color-scheme: dark) {
    color: var(--d-syn-deletion);
    background-color: var(--d-syn-deletion-bg);
  }
}
