{{ define "content" }}

<article>
    <h1>{{ .Title }}</h1>
    <span>Last updated {{ .Date.Format .Site.Params.dateFormat }}</span>
    <ul class="taglist">
    {{ range .Params.tags }}<li><a href="/tags/{{ urlize . }}/">#{{ . }}</a></li>{{ end }}
    </ul>

    {{ with .Params.prep }}<p><strong>Prep time: {{ . }}</strong></p>{{ end }}
    {{ with .Params.cook }}<p><strong>Cook time: {{ . }}</strong></p>{{ end }}
    {{ with .Params.wait }}<p><strong>Wait time: {{ . }}</strong></p>{{ end }}

    {{ with .Params.servings }}<p><strong>Serves: {{ . }}</strong></p>{{ end }}

    {{ .Content }}
  </article>

{{ end }}
