{{ define "main" }}
    <article>
      <h1>{{ .Title }}</h1>
      <p>
        Last updated 
        <time datetime={{ .Date.UTC.Format .Site.Params.FeedDateFmt }}>{{ .Date.Format .Site.Params.ThoughtDateFmt }}</time>
      </p>
      <ul class="taglist">
        {{ range .Params.tags }}
          <li>
            <a href="/tags/{{ urlize . }}/">#{{ . }}</a>
          </li>
        {{ end }}
      </ul>

      {{ with .Params.prep }}<p>Prep time: {{ . }}</p>{{ end }}
      {{ with .Params.cook }}<p>Cook time: {{ . }}</p>{{ end }}
      {{ with .Params.wait }}<p>Wait time: {{ . }}</p>{{ end }}

      <p>Serves: {{ .Params.servings }}</p>

      {{ .Content }}
    </article>
{{ end }}
