<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ $manifest :=
      resources.Get "manifest.json" | resources.ExecuteAsTemplate "manifest.json" .
    }}
    <link rel="manifest" href="{{ $manifest.RelPermalink }}">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="msapplication-starturl" content="/index.html">

    <meta name="theme-color" content="#fbfbf8">

    <title>{{ with .Title }}{{ . }} - {{ end }}{{ .Site.Title }}</title>
    <meta name="og:title" content="{{ .Title }}">
    <meta name="twitter:title" content="{{ .Title }}">

    <link rel="apple-touch-startup-image" href="/favicon/favicon.png">
    <link rel="apple-touch-icon" sizes="192x192" href="/favicon/favicon.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/favicon/favicon.png">
    <link rel="shortcut icon" sizes="192x192" href="/favicon/favicon.png">

    <meta property="og:site_name" content="{{ .Site.Title }}">
    <meta name="twitter:site" content="{{ .Site.Title }}">
    <meta name="application-name" content="{{ .Site.Title }}">
    <meta name="apple-mobile-web-app-title" content="{{ .Site.Title }}">

    <meta name="author" content="{{ .Site.Params.Author }}">
    <meta name="twitter:creator" content="{{ .Site.Params.Author }}">

    {{ with .Description | default .Site.Params.Description }}
      <meta name="description" content="{{ . }}">
      <meta name="og:description" content="{{ . }}">
      <meta name="twitter:description" content="{{ . }}">
    {{ end }}

    {{ with .Params.tags | default .Site.Params.Tags }}
      <meta name="keywords" content="{{ delimit . "," }}">
    {{ end }}

    {{ with .Params.image }}
      <meta name="og:image" content="{{ . }}">
      <meta name="twitter:image" content="{{ . }}">
    {{ end }}

    <meta name="og:url" content="{{ .Permalink }}">
    <link rel="canonical" href="{{ .Permalink }}">

    <meta name="twitter:card" content="summary">
    <meta name="og:type" content="website">

    <link rel="alternate" type="application/rss+xml" href="{{ .Site.BaseURL }}/feed.xml" title="{{ .Site.Title }}">

    <link rel="preload" as="font" type="font/woff" href="/fonts/Inter/Inter-Regular.woff" crossorigin>
    <link rel="preload" as="font" type="font/woff" href="/fonts/Inter/Inter-Bold.woff" crossorigin>

    {{ $options := (dict
      "targetPath" "css/main.css"
      "outputStyle" "compressed"
    ) }}
    {{ $styles :=
      resources.Get "styles/main.scss" | resources.ExecuteAsTemplate "main.scss" . |
      toCSS $options | resources.Fingerprint "sha512" | resources.Minify
    }}
    <link rel="stylesheet" type="text/css" href="{{ $styles.RelPermalink }}">
    {{ $syntaxOptions := (dict
      "targetPath" "css/syntax.css"
      "outputStyle" "compressed"
    ) }}
    {{ $syntax :=
      resources.Get "styles/syntax.scss" | resources.ExecuteAsTemplate "syntax.scss" . |
      toCSS $syntaxOptions | resources.Fingerprint "sha512" | resources.Minify
    }}
    <link rel="stylesheet" type="text/css" href="{{ $syntax.RelPermalink }}">
  </head>
  <body>
    {{ partial "header" }}
    <main>
      {{ block "main" . }}{{ end }}
    </main>
    {{ partial "footer" }}
  </body>
</html>
