{{ define "content" }}

  <section class="h-section">
    <h1>Recommendations</h1>

    <p>Here I try to record lists of pretty much everything I've ever read, watched, or played, and try to rate each piece of content accordingly. I recommend all sorts of books, movies, shows, and others based on my ratings and notes for each.</p>

    <ol>
      <li>
        <a href="{{ .Site.BaseURL }}/recs/anime">
          <span>Japanese animated shows and movies</span>
          <span class="title2">Anime</span>
        </a>
      </li>
      <li>
        <a href="{{ .Site.BaseURL }}/recs/articles">
          <span>Blog posts, journal articles, and white papers</span>
          <span class="title2">Articles</span>
        </a>
      </li>
      <li>
        <a href="{{ .Site.BaseURL }}/recs/books">
          <span>Print books and audiobooks</span>
          <span class="title2">Books</span>
        </a>
      </li>
      <li>
        <a href="{{ .Site.BaseURL }}/recs/games">
          <span>Video games played on any platform</span>
          <span class="title2">Games</span>
        </a>
      </li>
      <li>
        <a href="{{ .Site.BaseURL }}/recs/manga">
          <span>Japanese manga</span>
          <span class="title2">Manga</span>
        </a>
      </li>
      <li>
        <a href="{{ .Site.BaseURL }}/recs/movies">
          <span>Theater movies or extended videos</span>
          <span class="title2">Movies</span>
        </a>
      </li>
      <li>
        <a href="{{ .Site.BaseURL }}/recs/shows">
          <span>cartoons, tv shows, and episodic films</span>
          <span class="title2">Shows</span>
        </a>
      </li>
      <li>
        <a href="{{ .Site.BaseURL }}/recs/stories">
          <span>short stories and poems</span>
          <span class="title2">Stories</span>
        </a>
      </li>
    </ol>

  </section>

{{ end }}
