{{ define "main" }}

<section>
  <h1>Recommendations</h1>
  <p>Here I try to record lists of pretty much everything I've ever read, watched, or played, and try to rate each piece of content accordingly. I recommend all sorts of books, movies, shows, and others based on my ratings and notes for each.</p>
  <p>See my <a class="link" href="./rating-guide">rating guide</a> for more details on how I rate content.</p>
  <ol class="thoughtlist">
    {{ range where .Pages.ByTitle ".Title" "!=" "Rating Guide" }}
      <li>
        <a href="{{ .Permalink }}">
          <span>{{ .Title }}</span>
          <span>{{ .Description }}</span>
        </a>
      </li>
    {{ end }}
  </ol>
</section>

{{ end }}
