*, *::before, *::after {
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    min-height: 100%;

    padding: 0;
    margin: 0;

    background-color: #ccc;
    color: #000;
    font-size: 12px;
    font-family: Arial, helvetica, georgia;
    -ms-text-transform: uppercase;
    -moz-text-transform: uppercase;
    -o-text-transform: uppercase;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    
    text-align: center;
}

header {
    position: relative;
    display: block;
    
    font-size: 4em;
    font-weight: bold;
    letter-spacing: 0.4em;

    padding: 2em 0;
    text-align: center;
}

em.name {
    font-style: normal;
    font-weight: normal;
}

hr {
    border-color: #000;
    margin: 2em auto 8em auto;
    width: 70%;
}

div {
    position: relative;
    display: block;

    padding: 8em 0;
    margin: 0 8em;
}

em {
    font-weight: bold;
    font-size: 1.5em;
    padding: 1em 0;
}

p {
    position: relative;
    display: block;
}

footer { font-size: 0.7em }

footer a { color: inherit }
