{% macro create(thoughts = []) %}
  <nav class="thoughtslist">
    {% if thoughts | length %}
      <ol>
        {% for thought in thoughts | sortByDate %}
          <li>
            <a href="/thoughts/{{ thought.data.title | slugClean }}">
              <span class="date">{{ thought.data.date | dateFmt }}</span>
              <span class="title">{{ thought.data.title }}</span>
            </a>
          </li>
        {% endfor %}
      </ol>
    {% else %}
      Oh no! There's no content here!
    {% endif %}
  </nav>
{% endmacro %}
