{% set css %}{% include "styles.css" %}{% endset %}

{% set siteName %}Sam Bossley{% endset %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="manifest" href="/manifest.json" />

    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="msapplication-starturl" content="/index.html" />

    <title>{{ title }}{{ " - " if title }}{{ siteName }}</title>
    <meta name="og:title" content="{{ title }}" />
    <meta name="twitter:title" content="{{ title }}" />

    <link rel="apple-touch-startup-image" href="/public/favicon.png" />
    <link rel="apple-touch-icon" sizes="192x192" href="/public/favicon.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="/public/favicon.png" />
    <link rel="shortcut icon" sizes="192x192" href="/public/favicon.png" />

    <meta property="og:site_name" content="{{ siteName }}" />
    <meta name="twitter:site" content="{{ siteName }}" />
    <meta name="application-name" content="{{ siteName }}" />
    <meta name="apple-mobile-web-app-title" content="{{ siteName }}" />

    <meta name="author" content="Sam Bossley" />
    <meta name="twitter:creator" content="Sam Bossley" />

    <!-- color_6 -->
    <meta name="theme-color" media="(prefers-color-scheme: light)" content="#eceff4" />
    <!-- color_0 -->
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#2e3440" />

    {% if desc %}
      <meta name="description" content="{{ desc }}" />
      <meta name="og:description" content="{{ desc }}" />
      <meta name="twitter:description" content="{{ desc }}" />
    {% endif %}

    {% if tags %}
      <meta name="keywords" content="{{ tags | join(",") }}" />
    {% endif %}

    {% if image %}
      <meta name="og:image" content="{{ image }}" />
      <meta name="twitter:image" content="{{ image }}" />
    {% endif %}

    <meta name="og:url" content="{% getBaseUrl %}{{ page.url }}" />
    <link rel="canonical" href="{% getBaseUrl %}{{ page.url }}" />

    <meta name="twitter:card" content="summary" />
    <meta name="og:type" content="website" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap" rel="stylesheet">
    <style>
      {{ css | cssmin | safe }}
    </style>
  </head>
  <body>
    {{ content | safe }}
    <footer>
      <p><a href="/feed.xml">Subscribe to my feed!</a></p>
      <p>&copy; <a class="copyright" href="/">Sam Bossley</a> {% getCurrentYear %}</p>
    </footer>
  </body>
</html>
