{{ $articleDates := slice }}
{{ range .Site.Data.recs.articles }}
	{{ $articleDates = $articleDates | append .date }}
{{ end }}
{{ $articleDates = sort (uniq $articleDates) "" "desc" }}

{{ range $articleDates }}
	{{ $articleDate := . }}
  <h2>{{ cond (eq (len .) 0) "No Date" . }}</h2>
  <ol class="recs">
    {{ range where (where $.Site.Data.recs.articles "date" $articleDate) "current" "!=" true }}
      <li>
        <span>
          <a href="{{ .url }}">
            {{ if (eq .type "paper") }}
              {{ .author }}, {{ (time .published).Year }}. <cite>{{ .title }}</cite>.
            {{ else }}
              {{ .title }} by {{ .author }}
              ({{ (time .published).Year }})
            {{ end }}
          </a>
        </span>
        <span>
        {{ if .note }}
          <i>{{ .note }}</i>
        {{ end }}
        </span>
      </li>
    {{ end }}
  </ol>
{{ end }}
