{{ range (first 1 (where .Site.Data.recs.books "current" true)) }}
        <p>
          I&#39;m currently reading <i>{{ .title }}</i> by {{ .author }}.
        </p>
{{ end }}

{{ $bookDates := slice }}
{{ range .Site.Data.recs.books }}
	{{ $bookDates = $bookDates | append .date }}
{{ end }}
{{ $bookDates = sort (uniq $bookDates) "" "desc" }}

{{ range $bookDates }}
	{{ $bookDate := . }}
  <h2>{{ cond (eq (len .) 0) "No Date" . }}</h2>
  <ol class="recs">
    {{ range where (where $.Site.Data.recs.books "date" $bookDate) "current" "!=" true }}
      <li>
        <span>
          <a href="https://isbnsearch.org/isbn/{{ .isbn }}">
            {{ .title }} by {{ .author }}
            ({{ .year }})
          </a>
        </span>
        <span>
        {{ if gt .rating 0 }}
          {{ .rating | lang.FormatNumber 1 }}/10.
        {{ end }}
        {{ if .note }}
          <i>{{ .note }}</i>
        {{ end }}
        </span>
      </li>
    {{ end }}
  </ol>
{{ end }}
