{{ range (first 1 (where .Site.Data.recs.shows "current" true)) }}
  <p>I'm currently watching {{ .title }} ({{ ( time .run_start).Year }}).</p>
{{ end }}

{{ $showDates := slice }}
{{ range .Site.Data.recs.shows }}
	{{ $showDates = $showDates | append .date }}
{{ end }}
{{ $showDates = sort (uniq $showDates) "" "desc" }}

{{ range $showDates }}
	{{ $showDate := . }}
  <h2>{{ cond (eq (len .) 0) "No Date" . }}</h2>
  <ol class="recs">
    {{ range where (where $.Site.Data.recs.shows "date" $showDate) "current" "!=" true }}
      <li>
        {{ if .url }}<a href={{ .url }}>{{ else }}<span>{{ end }}
          {{ .title }} ({{ (time .run_start).Year }}){{ if (eq .type "podcast") }} (podcast){{ end }}
        {{ if .url }}</a>{{ else }}</span>{{ end }}
        <span>
        {{ if gt .rating 0 }}
          {{ .rating | lang.FormatNumber 1 }}/10.
        {{ end }}
        {{ if .note }}
          <i>{{ .note }}</i>
        {{ end }}
        </span>
      </li>
    {{ end }}
  </ol>
{{ end }}
