{{ define "main" }}
  <article class="tabs">
    <h1>{{ .Title }}</h1>
    <p>Last updated <time datetime={{ .Date.UTC.Format .Site.Params.FeedDateFmt }}>{{ .Date.Format .Site.Params.ThoughtDateFmt }}</time></p>
    <ul class="taglist donotprint">
    {{ range .Params.tags }}<li><a href="/tags/{{ urlize . }}/">#{{ . }}</a></li>{{ end }}
    </ul>
    <br class="donotprint" />
    <ul class="linklist donotprint">
      {{ with .Params.bandcamp }}<li><a href="{{ . }}">Bandcamp</a></li>{{ end }}
      {{ with .Params.soundcloud }}<li><a href="{{ . }}">Soundcloud</a></li>{{ end }}
      {{ with .Params.spotify }}<li><a href="{{ . }}">Spotify</a></li>{{ end }}
      {{ with .Params.youtube }}<li><a href="{{ . }}">Youtube</a></li>{{ end }}
    </ul>
    <pre>
/  slide up
\  slide down
h  hammer-on
p  pull-off
~  vibrato
+  harmonic
x  mute note
*  ring
{{ .RawContent }}</pre>
  </article>
{{ end }}
